:root {
	--font-family: "Montserrat", sans-serif;
	--content-width: 1400px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--white-color: #fff;
	--black-color: #141b22;
	--grey-color: #a0a0a0;
	--body-bg-color: #eaeef6;
	--link-bg-color: #eeefff;
	--blue-color: #0f81ff;
	--light-blue-color: #008ed6;
	--dark-blue-color: #1c2a4d;
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
	opacity: 1;
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
	outline: red solid 2px;
	outline-offset: 2px;
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
	opacity: 0.4;
	pointer-events: none;
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
::after,
::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
.page {
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}
.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
	font-size: 16px;
	background: var(--body-bg-color);
}
.site-container {
	overflow: hidden;
}
.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}
.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}
.title {
	margin: 0;
}
.title__h2 {
	font-size: 42px;
	line-height: 1.25;
	font-weight: 500;
	color: var(--blue-color);
	background: var(--white-color);
	padding: 12px 30px;
	border-radius: 16px;
	margin-bottom: 20px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.title__h3 {
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	color: var(--black-color);
}
.title__h4 {
	font-size: 20px;
	line-height: 1.25;
	font-weight: 400;
	color: var(--black-color);
}
@media (max-width: 768px) {
	.title__h2 {
		font-size: 34px;
	}
}
@media (max-width: 480px) {
	.title__h2 {
		font-size: 26px;
	}
}
@media (max-width: 375px) {
	.title__h2 {
		font-size: 22px;
	}
}
.tests {
	min-height: 550px;
}
.tests__container {
	padding-top: 40px;
	padding-bottom: 20px;
}
.tests__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) [12];
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
}
.tests__item {
	-ms-grid-column-span: 5;
	grid-column: 5 span;
	padding: 24px;
	border-radius: 16px;
	-webkit-box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
	box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
	background: var(--white-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.tests__title {
	margin-bottom: 16px;
}
.tests__title-test {
	margin: 0;
}
.tests__descr {
	color: var(--grey-color);
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.5;
}
.tests__descr-black {
	color: var(--black-color);
	margin: 0;
}
.tests__descr-black-list {
	padding-left: 4px;
}
.tests__button {
	display: block;
	padding: 12px 20px;
	background: var(--link-bg-color);
	border-radius: 8px;
	color: var(--blue-color);
	font-weight: 600;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	-webkit-transition: color 0.4s, background 0.4s;
	transition: color 0.4s, background 0.4s;
}
.tests__button-form {
	background: var(--white-color);
	border: 1px solid var(--blue-color);
	padding: 14px 34px;
	margin-top: 25px;
	font-size: 20px;
	font-weight: 500;
}
.tests__button:hover {
	background: var(--blue-color);
	color: var(--white-color);
}
.tests__button-back {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: var(--blue-color);
	background: var(--white-color);
	padding: 10px 16px;
	border-radius: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 8px;
	-webkit-transition: color 0.4s, background 0.4s;
	transition: color 0.4s, background 0.4s;
}
.tests__button-back:hover {
	background: var(--blue-color);
	color: var(--white-color);
}
.tests__button-back:hover .tests__arrow {
	fill: #fff;
}
.tests__arrow {
	width: 24px;
	height: 24px;
	fill: var(--blue-color);
	-webkit-transition: fill 0.4s;
	transition: fill 0.4s;
}
.tests__form,
.tests__test {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}
.tests__test-hidden {
	display: none;
}
.tests__body {
	padding: 26px 34px;
	background: var(--white-color);
	border-radius: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 12px;
}
.tests__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.tests__row-default {
	gap: 20px;
}
.tests__cell-field {
	font-size: 20px;
	line-height: 1.2;
	width: 290px;
}
.tests__cell-input {
	width: 400px;
}
.tests__input {
	width: 100%;
	border: 1px solid var(--link-bg-color);
	outline: 0;
	background: var(--link-bg-color);
	border-radius: 8px;
	color: var(--blue-color);
	padding: 12px 16px;
}
.tests__questions {
	margin-top: 20px;
	padding-top: 10px;
	position: relative;
}
.tests__questions::before {
	content: "";
	position: absolute;
	top: -16px;
	left: -34px;
	height: 1px;
	width: calc(100% + 68px);
	background: var(--body-bg-color);
}
.tests__selector-hidden {
	display: none;
}
@media (max-width: 768px) {
	.tests__item {
		-ms-grid-column-span: 6;
		grid-column: 6 span;
	}
}
@media (max-width: 480px) {
	.tests__list {
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	.tests__item {
		-ms-grid-column-span: 12;
		grid-column: 12 span;
	}
}
.node-hidden {
	display: none;
}
.table {
	margin-top: 20px;
	border: 1px solid var(--blue-color);
	border-radius: 6px;
	overflow: hidden;
}
.table .table__row:not(:last-child) {
	border-bottom: 1px solid var(--blue-color);
}
.table__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	text-align: center;
}
.table__row-header {
	background: var(--link-bg-color);
	color: var(--blue-color);
}
.table__row-header .table__cell {
	padding: 16px 6px;
}
.table__row .table__cell:not(:last-child) {
	border-right: 1px solid var(--blue-color);
}
.table__cell {
	padding: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.table__cell-number {
	width: 6%;
}
.table__cell-priznak {
	width: 38%;
}
.table__cell-mark {
	width: 18%;
}
.table__cell-question {
	width: 75%;
}
.table__cell-answer {
	width: 25%;
}
.table__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	gap: 10px;
}
.table__list-invalid .table__label::after {
	opacity: 1;
	border: 2px solid #dc143c;
}
.table__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	opacity: 0;
	display: block;
	height: 0;
	width: 0;
}
.table__input:checked + .table__label {
	background: 0 0;
	color: var(--light-blue-color);
}
.table__input:checked + .table__label:after {
	opacity: 1;
}
.table__label {
	position: relative;
	cursor: pointer;
	background: var(--body-bg-color);
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--dark-blue-color);
	width: 20px;
	height: 20px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}
.table__label::after {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: 2px solid var(--blue-color);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s, border 0.3s;
	transition: opacity 0.3s, border 0.3s;
}
