<section class="tests">
	<div class="container tests__container">
		<h2 class="title title__h2 tests__title-main">Список доступных тестов</h2>
		<div class="tests__list">
			<div class="tests__test">
				<div class="tests__container-text">
					<h3 class="title title__h3 tests__title">Название теста</h3>
					<p class="title tests__descr">
						Пара строчек текста, описывающие то, о чем будут вопросы/содержание теста
					</p>
				</div>
				<a href="https://google.com/tests/1" target="_blank" class="btn-reset title tests__link"> Перейти </a>
			</div>
			<div class="tests__test">
				<div class="tests__container-text">
					<h3 class="title title__h3 tests__title">Название теста в две строки для примера</h3>
					<p class="title tests__descr">
						Три строчки текста, описывающие то, о чем будут вопросы/содержание теста, и даже представить не
						могу, что еще
					</p>
				</div>
				<a href="https://google.com/tests/2" target="_blank" class="btn-reset title tests__link"> Перейти </a>
			</div>
			<div class="tests__test">
				<div class="tests__container-text">
					<h3 class="title title__h3 tests__title">
						Название теста в две строки для примера, а может даже и три строки
					</h3>
					<p class="title tests__descr">
						Три строчки текста, описывающие то, о чем будут вопросы/содержание теста, и даже представить не
						могу, что еще
					</p>
				</div>
				<a href="https://google.com/tests/1" target="_blank" class="btn-reset title tests__link"> Перейти </a>
			</div>
			<div class="tests__test">
				<div class="tests__container-text">
					<h3 class="title title__h3 tests__title">Название теста в две строки для примера</h3>
					<p class="title tests__descr">
						Пара строчек текста, описывающие то, о чем будут вопросы/содержание теста
					</p>
				</div>
				<a href="https://google.com/tests/2" target="_blank" class="btn-reset title tests__link"> Перейти </a>
			</div>
			<div class="tests__test">
				<div class="tests__container-text">
					<h3 class="title title__h3 tests__title">
						Название теста в две строки для примера, а может даже и три строки
					</h3>
					<p class="title tests__descr">
						Три строчки текста, описывающие то, о чем будут вопросы/содержание теста, и даже представить не
						могу, что еще
					</p>
				</div>
				<a href="https://google.com/tests/1" target="_blank" class="btn-reset title tests__link"> Перейти </a>
			</div>
		</div>
	</div>
</section>
